
:root{
  --custom-primary: #7b1fa2;
}



.mat-toolbar {
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
    background-color: #7b1fa2;
    color: white;
    text-align: center;
    margin-top: -1px;

  }
  
  .title-center {
    flex: 1 1 auto;
    text-align: center;
  }
  
  mat-form-field {
    padding: 5px;
  }
  